@media (prefers-color-scheme: light) {
  :root {
    --text: #0e1703;
    --background: #fafcf8;
    --primary: #80c43b;
    --primary-light: #9AE450;
    --secondary: #8c8aef;
    --secondary-light: #d9d9f5;
    --accent: #db4fe8;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f3fce8;
    --background: #050703;
    --primary: #80c43b;
    --primary-light: #9AE450;
    --secondary: #121075;
    --secondary-light: #d9d9f5;
    --accent: #a317b0;
  }
}

body {
  font-family: 'DM Sans';
  font-size: 22px;
}

/* Page 1 CSS properties */
.page-1 {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #050703;
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  height: 13vh;
}

.logo {
  margin-left: 5vw;
  flex-basis: 73%;
}

.signup-div {
  width: auto;
  flex-basis: 10%;
  align-items: center;
}

.login-div {
  width: auto;
  flex-basis: 10%;
  align-items: center;
}

.setting-div {
  width: auto;
  flex-basis: 10%;
  align-items: center;
}

.signup {
  color: black;
  background-color: var(--secondary-light);
  height: 55px;
  width: 117px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
}

.login {
  color: black;
  background-color: var(--primary);
  height: 55px;
  width: 117px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
}

.setting {
  height: 20px;
  width: 20px;
}

.hero-image {
  display: flex;
  background-image: url(./Images/background.jpg);
  background-color: var(--background);
  height: 90vh;
  margin-left: -10px;
  margin-right: -10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-background {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7%;
  background-color: rgb(187, 230, 144, 0.6);
  border-radius: 5vh;
  width: 55vw;
  height: 70vh;
  color: white;
}

.hero-text {
  margin-top: auto;
  margin-bottom: auto;
}

#hero-heading {
  font-size: 5vh;
  color: black;
  margin-left: 1.5vw;
}

#hero-detail {
  font-size: 3vh;
  margin-left: 1.5vw;
  font-weight: 550;
  color: black;
}

.hero-button {
  color: black;
  background-color: var(--primary-light);
  height: 6vh;
  width: 18vw;
  border-radius: 30px;
  font-size: 15px;
  margin-left: 1.5vw;
  border-width: 0;
  font-weight: bold;
}

/*Page 2 CSS properties*/
.page-2 {
  display: flex;
  flex-direction: row;
  margin: -10px;
  background-color: black;
  height: 100vh;
}
.about-page-2{
  flex-basis: 50%;
  margin: auto;
  margin-left: 15vw;
}
#about-text{
  color: aliceblue;
  font-size: 6vh;
  line-height: 6vh;
}
.about-button{
  background-color: #FF9040;
  width: 18vw;
  height: 8vh;
  font-weight: bold;
  font-size: large;
  border-radius: 4vh;
}
.image-page-2{
  flex-basis: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
/*Page 3 CSS properties*/
.page-3 {
  display: flex;
  flex-direction: row;
  margin: -10px;
  background-color: #FF9040;
  height: 100vh;
}
.analysis-page-3{
  flex-basis: 50%;
  margin: auto;
  text-align: center;
}
#analysis-text{
  color: aliceblue;
  font-size: 7vh;
  line-height: 7vh;
}
#analysis-description{
  color: aliceblue;
  font-size: 3vh;
  line-height: 3vh;
}
.dif-text{
  background-color: transparent;
  color: var(--primary-light);
}
.image-page-3{
  flex-basis: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25vh;
}
