@media (prefers-color-scheme: light) {
    :root {
        --text: #0e1703;
        --background: #fafcf8;
        --primary: #80c43b;
        --primary-light: #9AE450;
        --secondary: #8c8aef;
        --secondary-light: #d9d9f5;
        --accent: #db4fe8;
    }
}


body {
    font-family: 'DM Sans', 'sans-serif', 'Times New Roman';
    font-size: 22px;
}

/* CSS settings for large devices- laptops & desktops */
/* Section 1 CSS settings */
.section-1 {
    display: grid;
    grid-template-rows: 2fr 17fr;

    grid-template-areas:
        'heading'
        'hero';
    height: 100vh;
}

.header {
    background-color: #050703;
    grid-area: heading;
    display: grid;
    grid-template-columns: 8fr 12fr 3fr 3fr 1fr;
    grid-template-areas: 'logo blank signup login setting';
    align-items: center;
    margin-top: -2svh;
    margin-left: -10px;
    margin-right: -10px;
}

.logo {
    margin-left: 5vw;
    grid-area: logo;
    height: 13vh;
}

.signup-div {
    width: auto;
    grid-area: signup;
    align-items: center;
}

.login-div {
    width: auto;
    grid-area: login;
    align-items: center;
}

.setting-div {
    width: auto;
    grid-area: setting;
    align-items: center;
}

.signup {
    color: black;
    background-color: #d9d9f5;
    height: 55px;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

.login {
    color: black;
    background-color: #80c43b;
    height: 55px;
    width: 120px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

.setting {
    height: 20px;
    width: 20px;
}

.hero-image {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    grid-template-rows: 1fr 6fr 1fr;
    background-image: url(./Images/background.jpg);
    background-color: #fafcf8;
    margin-left: -10px;
    margin-right: -10px;
}

.hero-background {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(187, 230, 144, 0.6);
    border-radius: 5vh;
    width: 65vw;
    height: 75vh;
    color: white;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(5, 1fr);
}

#hero-heading {
    margin-left: 2vw;
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 5vh;
    color: black;
    margin-bottom: auto;
    /* animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s; */
}

#hero-detail {
    margin-left: 2vw;
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 3vh;
    font-weight: 550;
    color: black;
    margin-bottom: auto;
    /* animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;*/
} 

.hero-button {
    margin-left: 2vw;
    margin-bottom: auto;
    margin-top: auto;
    grid-column: 1/2;
    grid-row: 4/5;
    color: black;
    background-color: #80c43b;
    height: 6vh;
    width: 24vw;
    border-radius: 30px;
    font-size: 15px;
    border-width: 0;
    font-weight: bold;
    /* animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s; */
}

/* Section 2 CSS settings */
.section-2 {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr 5fr 2fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    margin: -10px;
    background-color: black;
    height: 100vh;
}

#about-text {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    grid-column: 2/3;
    grid-row: 2/3;
    color: aliceblue;
    font-size: 6vh;
    line-height: 6vh;
}

.about-button {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #FF9040;
    width: 18vw;
    height: 8vh;
    font-weight: bold;
    font-size: large;
    border-radius: 4vh;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.image-section-2 {
    grid-column: 4/5;
    grid-row: 2/4;
    margin-top: auto;
    margin-bottom: auto;
}

.factory-image {
    height: auto;
    width: 85%;
}

/* Section 3 CSS settings */
.section-3 {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 6fr 2fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    margin: -10px;
    background-color: #FF9040;
    height: 100vh;
}

.analysis-section-3 {
    grid-column: 4/5;
    grid-row: 2/4;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#analysis-text {
    color: aliceblue;
    font-size: 7vh;
    line-height: 7vh;
}

#analysis-description {
    color: aliceblue;
    font-size: 3vh;
    line-height: 3vh;
}

.dif-text {
    background-color: transparent;
    color: #80c43b;
}

.image-section-3 {
    grid-column: 2/3;
    grid-row: 2/4;
    margin-top: auto;
    margin-bottom: auto;
}

.analysis-image {
    height: auto;
    width: 90%;
    object-fit: cover;
}

/* Section 4 CSS settings */
.section-4 {
    display: flex;
    flex-direction: row;
    margin: -10px;
    background-color: aliceblue;
    height: 100vh;
}

.text-section-4 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.heading-section-4 {
    font-weight: 500;
}

.question {
    font-size: 3vh;
}

/* Section 5 CSS settings */
.section-5 {
    display: grid;
    grid-template-columns: 4fr 3fr 10fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: -10px;
    background-color: black;
    height: 50vh;
    color: aliceblue;
}

.web-name {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: 'Bodoni Moda';
    font-weight: bold;
}

.contact-us {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 3vh;
}

.quote {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1/2;
    grid-column: 3/4;
}

#contact {
    font-size: 3vh;
}

#email {
    font-size: 2vh;
}

/* CSS settings for medium sized devices- Tablets */
@media only screen and (max-width: 1000px) {

    /* Section 1 CSS settings */
    .section-1 {
        grid-template-rows: 1fr 17fr;
    }

    #logo-image {
        height: 10vh;
    }

    .signup {
        height: 40px;
        width: 96px;
        border-radius: 24px;
        font-size: 12px;
    }

    .login {
        height: 40px;
        width: 96px;
        border-radius: 24px;
        font-size: 12px;
    }

    .setting {
        height: 20px;
        width: 20px;
    }

    .hero-image {
        grid-template-columns: 1fr 7fr 2fr;
        grid-template-rows: 1fr 6fr 1fr;
    }

    .hero-background {
        border-radius: 5vh;
        width: 70vw;
        height: 75vh;
        color: white;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: repeat(5, 1fr);
    }

    #hero-heading {
        margin-left: 2vw;
        grid-column: 1/3;
        grid-row: 2/3;
        font-size: 5vh;
        color: black;
        margin-bottom: auto;
    }

    #hero-detail {
        margin-left: 2vw;
        grid-column: 1/3;
        grid-row: 3/4;
        font-size: 3vh;
        font-weight: 550;
        color: black;
        margin-bottom: auto;
    }

    .hero-button {
        height: 6vh;
        width: 30vw;
        border-radius: 30px;
        font-size: 15px;
    }

    /* Section 2 CSS settings */


    #about-text {
        font-size: 5vh;
        line-height: 5vh;
    }

    .about-button {
        margin-left: 0%;
    }

    .factory-image {
        height: auto;
        width: 100%;
    }

    /* Section 3 CSS settings */

    #analysis-text {
        font-size: 5vh;
        line-height: 5vh;
    }

    #analysis-description {
        font-size: 2.5vh;
        line-height: 2.5vh;
    }

    .analysis-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    /* Section 4 CSS settings */
    .section-4 {
        height: 100vh;
    }

    .question {
        font-size: 2.5vh;
    }

    /* Section 5 CSS settings */
    .section-5 {
        grid-template-columns: 4fr 2fr 10fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 50vh;
    }
}

/* CSS settings for small devices- mobiles */
@media only screen and (max-width: 750px) {

    /* Section 1 CSS settings */
    .section-1 {
        grid-template-rows: 6vh auto;
        height: 80vh;
    }

    .header {
        grid-template-columns: 10fr 3fr 3fr 1fr;
        grid-template-rows: 6vh;
        grid-template-areas: 'logo signup login setting';
        align-items: center;
        height: 7vh;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-top: auto
    }

    #logo-image {
        height: 7vh;
    }

    .signup-div {
        width: auto;
        grid-area: signup;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .login-div {
        width: auto;
        grid-area: login;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .setting-div {
        width: auto;
        grid-area: setting;
        align-items: center;
        margin: auto;
    }

    .signup {
        height: 3vh;
        width: 7vh;
        border-radius: 1vh;
        font-size: 1vh;
    }

    .login {
        height: 3vh;
        width: 7vh;
        border-radius: 1vh;
        font-size: 1vh;
    }

    .setting {
        height: 20px;
        width: 20px;
    }

    .hero-image {
        grid-area: hero;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 1fr 6fr 1fr;
        background-image: url(./Images/background.jpg);
        background-color: #fafcf8;
        margin-left: -10px;
        margin-right: -10px;
    }

    .hero-background {
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: rgb(187, 230, 144, 0.6);
        border-radius: 5vh;
        width: 80vw;
        height: 50vh;
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    #hero-heading {
        margin-left: 4vw;
        grid-row: 1/2;
        font-size: 4vh;
        color: black;
        margin-bottom: auto;
    }

    #hero-detail {
        margin-left: 4vw;
        grid-row: 2/3;
        font-size: 2vh;
        font-weight: 550;
        color: black;
        margin-bottom: auto;
    }

    .hero-button {
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 6vw;
        grid-row: 3/4;
        height: 6vh;
        width: 50vw;
    }

    /* section 2 CSS settings */
    */ .section-2 {
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-columns: 1fr;
        margin: -10px;
        background-color: black;
        height: 100vh;
    }

    #about-text {
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        grid-row: 2/3;
        grid-column: 1/2;
        color: aliceblue;
        font-size: 4vh;
        line-height: 4vh;
    }

    .about-button {
        grid-row: 3/4;
        grid-column: 1/2;
        background-color: #FF9040;
        width: 50vw;
        height: 8vh;
        font-weight: bold;
        font-size: 2vh;
        border-radius: 4vh;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    .image-section-2 {
        background-image: url(./Images/factory_landscape.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 80%;
        background-size: cover;
        grid-row: 1/2;
        grid-column: 1/2;
        margin-top: auto;
        margin-bottom: auto;
    }

    .factory-image {
        opacity: 0;
        height: 33vh;
        width: 100vw;
    }

    /* Section 3 CSS settings */
    .section-3 {
        grid-template-rows: 1fr 3fr 2fr;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .analysis-section-3 {
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #analysis-text {
        color: aliceblue;
        font-size: 7vh;
        line-height: 7vh;
    }

    #analysis-description {
        color: aliceblue;
        font-size: 3vh;
        line-height: 3vh;
    }

    .dif-text {
        background-color: transparent;
        color: #80c43b;
    }

    .image-section-3 {
        background-image: url(./Images/analysis_landscape.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 80%;
        background-size: cover;
        grid-row: 1/2;
        grid-column: 1/2;
        margin-top: auto;
        margin-bottom: auto;
    }

    .analysis-image {
        opacity: 0;
        height: 33vh;
        width: 100vw;
    }

    /* section 4 CSS settings */
    .section-4 {
        height: 130vh;
    }

    .question {
        font-size: 2vh;
    }

    /* section 5 CSS settings */
    .section-5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: -10px;
        background-color: black;
        height: 50vh;
    }

    .web-name {
        margin-top: auto;
        margin-left: 3vw;
        margin-right: auto;
        grid-row: 1/2;
        grid-column: 1/2;
        font-family: 'Bodoni Moda';
        font-weight: bold;
    }

    .contact-us {
        margin-top: auto;
        margin-left: 3vw;
        margin-right: auto;
        margin-bottom: auto;
        grid-row: 2/3;
        grid-column: 1/2;
        font-size: 3vh;
    }

    .quote {
        margin-top: auto;
        margin-left: 3vw;
        margin-right: auto;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #contact {
        font-size: 3vh;
    }

    #email {
        font-size: 2vh;
    }

}
/* transitions */
/* @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */


/*

     /\_/\
    ( o.o )==Meow, KHKA!!!
     > ^ <

 */