@media (prefers-color-scheme: light) {
    :root {
        --text: #0e1703;
        --background: #fafcf8;
        --primary: #80c43b;
        --primary-light: #9AE450;
        --secondary: #8c8aef;
        --secondary-light: #d9d9f5;
        --accent: #db4fe8;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #0e1703;
        --background: #fafcf8;
        --primary: #80c43b;
        --primary-light: #9AE450;
        --secondary: #8c8aef;
        --secondary-light: #d9d9f5;
        --accent: #db4fe8;
    }
}

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    font-family: 'DM Sans', 'sans-serif', 'Times New Roman';
    font-size: 22px;
    height: 120vh;
    overflow-x: hidden;
    overflow-y: auto;
}

div {
    transform-style: preserve-3d;
    position: relative;
    /* height of text section */
}

/* CSS settings for large devices- laptops & desktops */
/* Section 1 CSS settings */
.section-1 {
    display: grid;
    grid-template-rows: 2fr 17fr;

    grid-template-areas:
        'heading'
        'hero';
    height: 100vh;
    z-index: 99;
}

.header {
    background-color: #050703;
    grid-area: heading;
    display: grid;
    /* grid-template-columns: 8fr 12fr 3fr 3fr 3fr;
    grid-template-areas: 'logo blank signup login setting'; */
    grid-template-columns: 8fr 12fr 3fr 3fr;
    grid-template-areas: 'logo blank login setting';
    align-items: center;
    margin-top: -2svh;
    margin-left: -10px;
    margin-right: -10px;
}

.setting-div {
    width: auto;
    grid-area: setting;
    align-items: center;
}

.setting {
    color: black;
    background-color: #d9d9f5;
    height: 55px;
    width: 120px;
    border-width: 0;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

.setting-div {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 101000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: medium;
    z-index: 101000;
}

.dropdown-content a:hover {
    background-color: #ddd;
    z-index: 101000;
}


.setting-div:hover .dropdown-content {
    display: block;
    z-index: 101000;
}

.setting-div:hover .setting {
    background-color: #3e8e41;
    z-index: 101000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.logo {
    margin-left: 5vw;
    grid-area: logo;
    height: 13vh;
}

#logo-image {
    height: 12vh;
    width: 70%;
}

.signup-div {
    width: auto;
    grid-area: signup;
    align-items: center;
}

.login-div {
    width: auto;
    grid-area: login;
}

.signup {
    color: black;
    background-color: #d9d9f5;
    height: 55px;
    width: 120px;
    border-width: 0;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

.signup:hover {
    background-color: #8a8ae2;
    border: 2px solid #1005ea;
}

.login {
    color: black;
    background-color: #80c43b;
    height: 55px;
    width: 120px;
    border-width: 0;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

.login:hover {
    background-color: #35cd27;
    border: 2px solid #107305;
}


.hero-image {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    grid-template-rows: 1fr 6fr 1fr;
    background-image: url(./Images/background.jpg);
    background-color: #fafcf8;
    margin-left: -10px;
    margin-right: -10px;
    z-index:    -1;
}

.hero-background {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(187, 230, 144, 0.6);
    border-radius: 5vh;
    width: 65vw;
    height: 75vh;
    color: white;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(5, 1fr);
}


#hero-heading {
    margin-left: 2vw;
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 5vh;
    color: black;
    margin-bottom: auto;
    /* animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s; */
}

#hero-detail {
    margin-left: 2vw;
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 3vh;
    font-weight: 550;
    color: black;
    margin-bottom: auto;
    /* animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;*/
}

.hero-button {
    margin-left: 2vw;
    margin-bottom: auto;
    margin-top: auto;
    grid-column: 1/2;
    grid-row: 4/5;
    color: black;
    background-color: #80c43b;
    height: 6vh;
    width: 24vw;
    border-radius: 30px;
    font-size: 15px;
    border-width: 0;
    font-weight: bold;
    /* animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s; */
}

.hero-button:hover {
    background-color: #FF9040;
    border: 2px solid wheat;
}

.break-i {
    height: 15vh;
    background-color: #050703;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 99;
}

/* Section 2 HTML */
.section-2 {
    display: grid;
    grid-template-columns: auto 50vw auto;
    grid-template-rows: auto 30vh 10vh auto;
    margin: -10px;
    background-color: black;
    height: 80vh;
    z-index: 99;
}

#about-text {
    margin: auto;
    grid-column: 2/3;
    grid-row: 2/3;
    color: aliceblue;
    font-size: 6vh;
    line-height: 6vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-button {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #FF9040;
    width: 18vw;
    height: 8vh;
    font-weight: bold;
    font-size: large;
    border-radius: 4vh;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-width: 0cap;
}

.about-button:hover {
    background-color: #80c43b;
    border: 2px solid wheat;
}

.break {
    height: 15vh;
    background-color: #050703;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 99;
}

.factory-image {
    /* height of image */
    height: 60vh;
    width: 80vw;
}

.factory-image::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.bg-i::after {
    background: url("./Images/smoke-hq-1.jpg");
    background-size: cover;
    background-position-y: 100%;
    background-position-x: center;
}

/* Section 2 HTML */
.section-2 {
    display: grid;
    grid-template-columns: auto 50vw auto;
    grid-template-rows: auto 30vh 10vh auto;
    margin: -10px;
    background-color: black;
    height: 80vh;
    z-index: 99;
}

#about-text {
    margin: auto;
    grid-column: 2/3;
    grid-row: 2/3;
    color: aliceblue;
    font-size: 6vh;
    line-height: 6vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-button {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #FF9040;
    width: 18vw;
    height: 8vh;
    font-weight: bold;
    font-size: large;
    border-radius: 4vh;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-width: 0cap;
}

.about-button:hover {
    background-color: #80c43b;
    border: 2px solid wheat;
}

/* Section 3 CSS */
.analysis-image {
    /* height of image */
    height: 70vh;
    width: 80vw;
}

.analysis-image::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.bg-ii::after {
    background: url("./Images/analysis-hq-1.jpg");
    background-size: cover;
    background-position-y: 10%;
    background-position-x: center;
}

.section-3 {
    display: grid;
    grid-template-columns: auto 50vw auto;
    grid-template-rows: auto 30vh 10vh auto;
    margin: -10px;
    background-color: #FF9040;
    height: 70vh;
}

.analysis-section-3 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.analysis-section-3-ii {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#analysis-text {
    color: aliceblue;
    font-size: 7vh;
    line-height: 7vh;
}

#analysis-description {
    color: aliceblue;
    font-size: 3vh;
    line-height: 3vh;
}

.dif-text {
    background-color: transparent;
    color: #73d510;
}

.break-ii {
    height: 15vh;
    background-color: #FF9040;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 99;
}

/* Section 4 CSS settings */
.section-4 {
    display: flex;
    flex-direction: row;
    margin: -10px;
    background-color: aliceblue;
    height: 100vh;
}

.text-section-4 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.heading-section-4 {
    font-weight: 500;
}

.question {
    font-size: 3vh;
}

/* Section 5 CSS settings */
.section-5 {
    display: grid;
    grid-template-columns: 4fr 3fr 10fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: -10px;
    background-color: black;
    height: 50vh;
    color: aliceblue;
}

.web-name {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: 'Bodoni Moda';
    font-weight: bold;
}

.contact-us {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: left;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 3vh;
}

.quote {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1/2;
    grid-column: 3/4;
}

#contact {
    font-size: 3vh;
}

#email {
    font-size: 2vh;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    padding: 0px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

/* Responsive changes for different dimensions */

@media (max-width:1220px) {
    .header {
        grid-template-columns: 8fr 8fr 3fr 3fr;
    }

    #hero-heading {
        font-size: 4.5vh;
    }

    #hero-detail {
        font-size: 2.5vh;
    }

    .hero-background {
        width: 70vw;
        height: 65vh;
    }

    .section-4 {
        height: 120vh;
    }

    .login {
        height: 50px;
        width: 100px;
    }

    .setting {
        height: 50px;
        width: 100px;
    }
}

@media (max-width:1024px) {
    .section-1 {
        grid-template-rows: 2fr 19fr;
    }

    .hero-background {
        width: 70vw;
        height: 65vh;
    }

    .header {
        grid-template-columns: 8fr 6fr 3fr 3fr;
    }

    #logo {
        height: 9vh;
    }

    .section-2 {
        grid-template-rows: auto 40vh 10vh auto;
        grid-template-columns: auto 60vw auto;
    }

    .section-3 {
        grid-template-rows: auto 40vh 10vh auto;
        grid-template-columns: auto 60vw auto;
    }

    .about-button {
        width: 20vw;
    }

    .section-5 {
        grid-template-columns: 4fr 2fr 10fr;
    }

    .contact-us {
        margin-right: 0;
        padding-left: 3vw;
    }

}

@media (max-width:800px) {
    .header {
        grid-template-columns: 8fr 4fr 3fr 3fr;
    }

    #logo {
        height: 7vh;
    }

    .login {
        height: 40px;
        width: 80px;
        font-size: 12px;
    }

    .setting {
        height: 40px;
        width: 80px;
        font-size: 12px;
    }

    .factory-image {
        background-position-y: 70%;
    }

    #about-text {
        font-size: 4vh;
    }

    .about-button {
        font-size: 2vh;
        width: 25vw;
    }

    .section-4 {
        height: 140vh;
    }

    .section-5 {
        grid-template-columns: 4fr 1fr 10fr;
    }

    .contact-us {
        margin-right: 0;
        padding-left: 3vw;
        grid-row: 2/3;
        grid-column: 1/2;
        font-size: 3vh;
    }
}

@media (max-width:620px) {
    .hero-background {
        grid-template-columns: 2fr 2fr;
    }

    .hero-button {
        width: 30vw;
    }
}

@media (max-width:570px) {
    .section-4 {
        height: 160vh;
    }

    h2 {
        font-size: 4.5vh;
    }

    .quote {
        font-size: 3vh;
    }

    .bg-i::after {
        background: url("./Images/factory-hq-4.jpg");
        background-size: cover;
        background-position-y: 100%;
        background-position-x: center;
    }
}

@media (max-width:480px) {
    .hero-button {
        width: 40vw;
    }

    #logo {
        height: 6vh;
    }

    .login {
        height: 30px;
        width: 60px;
        font-size: 10px;
    }

    .setting {
        height: 30px;
        width: 60px;
        font-size: 9px;
    }

    .hero-button {
        font-weight: 500;
    }

    .about-button {
        width: 35vw;
    }

    .section-2 {
        grid-template-rows: 2vh 55vh 25vh auto;
        grid-template-columns: auto 60vw auto;
    }

    .about-button {
        width: 50vw;
    }

    .section-3 {
        grid-template-rows: 2vh 55vh 25vh auto;
        grid-template-columns: auto 60vw auto;
    }

    .section-4 {
        height: 200vh;
    }

    .section-5 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 70vh;
    }

    .web-name {
        padding-left: 5vw;
        margin-top: 0;
        padding-top: 2vh;
        margin-left: 0;
        grid-row: 2/3;
        grid-column: 1/2;

    }

    .contact-us {
        padding-left: 5vw;
        margin-left: 0;
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .quote {
        padding-left: 5vw;
        margin-bottom: auto;
        margin-left: 0;
        margin-right: auto;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #contact {
        font-size: 3vh;
    }

    #email {
        font-size: 2vh;
    }

    .section-2 {
        grid-template-rows: 2vh 55vh 25vh auto;
        grid-template-columns: auto 80vw auto;
    }

    .about-button {
        width: 50vw;
    }

    .section-3 {
        grid-template-rows: 2vh 40vh 15vh auto;
        grid-template-columns: auto 80vw auto;
    }
}

@media (max-width:375px) {
    .section-4 {
        height: 250vh;
    }

    .header {
        grid-template-columns: 8fr 1fr 3fr 3fr;
    }

    #logo {
        height: 5vh;
    }

    .login {
        height: 30px;
        width: 60px;
        font-size: 10px;
    }

    .setting {
        height: 30px;
        width: 60px;
        font-size: 9px;
    }

    .hero-background {
        width: 85vw;
        height: 65vh;
        grid-template-columns: 2fr 1fr;
    }

    .hero-button {
        width: 70vw;
    }
}






























/*

     /\_/\
    ( o.o )==Meow, KHKA!!!
     > ^ <

 */